<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Определение обработчика ASP.NET Core -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- Настройки запуска приложения -->
    <aspNetCore processPath="dotnet" arguments=".\TikTokHelper_Electron.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

    <!-- Определение MIME-типов для статических файлов -->
    <staticContent>
      <mimeMap fileExtension=".wav" mimeType="audio/wav" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
    </staticContent>
  </system.webServer>
</configuration>
